body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    
}

h1, h2{
    text-align: center;
    padding: 20px;
    padding-top: 10px;
}

p{
    font-size: 18px;
    color: white;
    margin-bottom: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  text-align: center;
  vertical-align: middle;
}
/* Header */
header {
    background-color: #8a4fff;
    text-align: center;
    padding: 20px 0;
}

/* Logo styles */
.logo {
    width: 400px; 
    height: auto;
}

/* Navigation bar */
nav {
    background-color: #e5ecf4; 
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}


/* Flexbox container for content */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin:auto;
    width: 100%;
}

/* Flex items */
.flex-item {
    flex: 1;
    background-color: #c3bef7; /* Flexbox background color */
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

/* Footer */
footer {
    background-color: #8a4fff; /* Footer background color */
    text-align: center;
    padding: 10px 0;
    color: #ffffff; /* Footer text color */
    width: 100%;

}

.carousel-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    background-color:#c3bef7;
    border-radius: 20px;
    width: 97%;

    overflow: hidden;
    height: auto;
}

.carousel {
    display: flex;
    transition: transform 100s ;
    width: 90%;
    padding: 30px;
    margin: 10px
}


.carousel-slide {
    margin: 10px;
    width: 300px;

}

.carousel-slide img {
    background-color: #ffffff;
    display: block;}