.flex-container {
  background-color: white;
}

.flex-item{
  text-align-last: center;
}
/* radiobutton formations */
.radio-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-label {
  margin-left: 10px;
}

.radio-input {
  display: none;
}

.radio-img {
  width: 400 px; /* Adjust the width as needed */
  height: 100px;
  background-color: white;
  border: 3px solid #8A4FFF ;
  border-radius: 20px;
  padding: 10px;
}

.radio-input:checked + .radio-label .radio-img {
  background-color: #8A4FFF;
}

.form-container {
  background-color: white;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 60%; /* Adjust the width as needed */
  margin: auto;
  margin-top: 60px;
}

.form-input{
  align-items: center;
}

li{
  font-size: 25px;
  padding-left: 20px;
  
}