.option-radio{
    size: 10px;
}
.label-radio{
    display: block;
    line-height: 4.2em;
    padding: 0 0.62em;
    border: 1px solid #666;
    border-radius: 0.25em;
    background-image: linear-gradient( to bottom, #fff, #ccc );
    box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.2em rgba( 0, 0, 0, 0.3 );
    font-size: 0.8em;
    width: 200px;
    margin: 20px;
    font-size: 20px;
}
.label-radio:hover{
    border-color: #3c7fb1;
    background-image: linear-gradient( to bottom, #fff, #a9dbf6 );
}